@import "variables";
@import "ember-bootstrap/bootstrap";
@import "components/hero-art";


.heading {
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  @extend .p-4;
}

.repo-box {
  @extend .alert;
  @extend .alert-light;
  @extend .text-dark;
  @extend .w-50;
  @extend .p-3;
  @extend .h5;
  @extend .mb-1;
  @extend .d-flex;
  @extend .justify-content-between;
  @extend .align-items-center;
  border-right: 1px solid #d3d3d3 !important;
  border-top: 1px solid #d3d3d3 !important;
  border-bottom: 1px solid #d3d3d3 !important;
  border-width: 5px;
}

.color-success {
  color: $green;
}

.color-danger {
  color: $red;
}

.color-warning {
  color: $yellow;
}

.color-primary {
  color: $primary;
}


.incident {
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-start;
  @extend .w-50;
  @extend .border-left;
  margin-left: 6rem;
  @extend .my-2;
}

.navbar-nav {
  @extend .w-100;
  @extend .d-flex;
  @extend .justify-content-around;
}

.navbar-nav > li {
  float: left;
  position: relative;
  font-size: 1.5rem;
}

.navbar-nav .active a::after {
  border-bottom: 1px solid $primary;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
}

.repo-nav a {
  @extend .border;
  @extend .rounded;
  @extend .m-2;
  font-size: 1rem !important;
}

.repo-nav .active {
  border-color: $primary !important;
}

.repo-nav a::after {
  border-bottom: none !important;
}

.navbar-nav .active {
  color: $primary !important;
}

.main-nav {
  ul {
    display: flex !important;
    justify-content: end !important;
    a {
      @extend .ml-4;
      font-size: 0.9rem;
      color: $primary !important;
    }
  }
}

.issue-line {
  @extend .d-flex;
  @extend .flex-row;
  @extend .ml-2;
  @extend .pl-3;
}

.brown-logo {
  height: 3rem;
}

.logo {
  height: 2.2rem;
  z-index: 100;
  .c1 {
    fill: $yellow;
  }
  .c2 {
    fill: $green;
  }
  .v {
    fill: $yellow;
  }
}

.footer {
  background-color: $beige;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
