<div class="issue-line">
  <span><FaIcon @icon="glasses" class="mr-2"/></span>
  <span class="d-flex">
    <span class="color-warning font-weight-bold mr-2">[Investigating]</span>
    <span>{{markdown-to-html @issue.body}}</span>
  </span>
</div>
