<div class="issue-line">
  <span><FaIcon @icon="clipboard-check" @prefix="far" class="mr-2"/></span>
  <span class="d-flex mr-2">
    <span class="color-success font-weight-bold mr-2">[Resolved]</span>
    <span class="d-flex flex-column">
      <span>This incident has been resolved.</span>
      <span class="small">{{@issue.closed_at}}</span>
    </span>
  </span>
</div>
