<div class="issue-line">
  <span><FaIcon @icon="cogs" @prefix="far" class="mr-2"/></span>
  <span class="d-flex">
    <span class="color-primary font-weight-bold mr-2">[Maintanance]</span>
    <span>{{markdown-to-html @issue.body}}</span>
  </span>
</div>
