<div class="d-flex justify-content-center flex-column align-items-center">
  {{#if @model.issues }}
    <Incident @repo={{@model}} @state="closed"/>
  {{else}}
    <h1 class="pt-5">No past incidents for <i>{{@model.name}}</i></h1>
  {{/if}}
</div>
