<div class="hero d-flex flex-column">
  <h1>{{model.name}}</h1>
  <div class="d-flex mt-5 font-weight-bold h5 w-50">
    <BsNavbar @backgroundColor="white" as |navbar|>
      <navbar.content>
        <navbar.nav as |nav|>
          <nav.item>
            <nav.linkTo @route="index">Current Status</nav.linkTo>
          </nav.item>
          <nav.item>
            <nav.linkTo @route="history">Past Incidents</nav.linkTo>
          </nav.item>
        </navbar.nav>
      </navbar.content>
    </BsNavbar>
  </div>
</div>

{{outlet}}
