<div class="d-flex mt-5 font-weight-bold h5">
  <BsNavbar @backgroundColor="white" as |navbar|>
    <navbar.content>
      <navbar.nav as |nav|>
        {{#each model.repositories as |repo|}}
        <nav.item>
          <nav.linkTo @route="history.service" @model={{repo.name}}>{{repo.name}}</nav.linkTo>
        </nav.item>
        {{/each}}
      </navbar.nav>
    </navbar.content>
  </BsNavbar>
</div>
{{outlet}}
