<div class="history">
  <div class="history-content">
    <div class="heading">
    <LinkTo @route="index">
      <small><FaIcon @icon="arrow-left"/> current incidents </small>
    </LinkTo>
    <h1>Past Incidents</h1>
    </div>
    <BsNavbar @backgroundColor="white" class="repo-nav" as |navbar|>
      <navbar.content @collapsed={{false}}>
        <navbar.nav as |nav|>
          {{#each model.repos as |repo|}}
          <nav.item>
            <div class="repo-nav-item"><nav.linkTo @route="history.service" @model={{repo.name}}>{{repo.name}}</nav.linkTo></div>
          </nav.item>
          {{/each}}
        </navbar.nav>
      </navbar.content>
    </BsNavbar>
  </div>
</div>
{{outlet}}
